.container {
    padding-top: 50px;

    @media (max-width: 576px) {
        padding-top: 35px;
    }
}

.title {
    margin-bottom: 40px;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
}

.list {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}