.container {
    padding-top: 50px;

    @media (max-width: 576px) {
        padding-top: 35px;
    }
}

.title {
    margin-bottom: 40px;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
}