.pagination {
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    justify-content: center;
  }
}

.item {
  &:not(:last-child) {
    margin-right: 15px;

    @media (max-width: 576px) {
      margin-right: 12px;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(#000, 0.2);
  border-radius: 100%;
  width: 38px;
  height: 38px;
  color: var(--color-dark);
  transition: background-color 0.3s, color 0.3s, border 0.3s;

  svg {
    display: block;
    width: 18px;
    height: 18px;
    stroke: currentColor;
    transition: fill 0.3s;
  }

  @media (min-width: 1025px) {
    &:hover:not(.disabled) {
      border: 1px solid var(--color-primary);
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}


.current {
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  background-color: var(--color-primary);
}

.disabled {
  outline: none;
  pointer-events: none;

  svg {
    opacity: 0.3;
  }
}