:root {
    // base
    --font-family: "Fira sans", sans-serif;
    --content-width: 1050px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
    // colors
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #141414;
    --color-light-dark: #1f1f1f;
    --color-primary: #175a77;
    --color-dark-primary: #11465d;
  }