.btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: var(--color-primary);
    border-radius: 100%;
    font-size: 27px;
    color: var(--color-white);
    transition: background-color 0.3s;

    @media (min-width: 1025px) {
        display: none;
    }

    @media (max-width: 576px) {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }

    &:hover {
        background-color: var(--color-dark-primary);
    }
}