.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    border-radius: 8px;
    
    @media (max-width: 1024px) {
        padding: 0;
    }

    @media (min-width: 1025px) {

        &:hover {
            box-shadow: 0 2px 25px rgba(#000, 0.1);

            &:before {
                opacity: 0;
                visibility: hidden;
            }
        }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 20px;
                right: 20px;
                height: 1px;
                background-color: rgba(#000, 0.1);
                transition: opacity 0.3s, visibility 0.3s;
            }
        }
    }

.left {
    display: flex;
}

.imageContainer {
    position: relative;
    width: 64px;
    height: 96px;
    flex-shrink: 0;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}

.title {
    margin: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    color: var(--color-dark);
    transition: color 0.3s;

    @media (max-width: 576px) {
        margin-right: 80px;
    }

    &:hover {
        color: var(--color-primary);
    }
}

.text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--color-dark);
}

.info {
    display: block;
    margin-bottom: 8px;
    
    @media (max-width: 576px) {
        margin-bottom: 5px;
    }
}

.desc {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(#000, 0.5);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.right {
    display: flex;
    align-items: center;
    padding-left: 90px;

    @media (max-width: 576px) {
        position: absolute;
        top: 0;
        right: 0;
        padding-left: 0;
    }
}

.rating {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 5px;
}

.btn {
    padding: 10px;

    @media (max-width: 576px) {
        padding: 3px;
        font-size: 0;        
    }

    svg {
        margin-left: 0;
        margin-right: 8px;

        @media (max-width: 576px) {
            margin-right: 0;
        }
    }

    &:hover {
        svg {
            transform: none;
        }
    }
}