.content {
    display: flex;
    margin-bottom: 50px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.left {
    flex-shrink: 0;
    margin-right: 50px;

    @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.image {
    position: relative;
    width: 300px;
    min-height: auto;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    background-color: var(--color-dark);

    @media (max-width: 576px) {
        width: 250px;
    }
}

.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    max-width: 500px;
    margin-bottom: 20px;

    @media (max-width: 576px) {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 20px;
    }
}

.desc {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;

    @media (max-width: 576px) {
        margin-bottom: 20px;
    }
}

.subtitle {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}

.infoItem {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.infoCaption {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: rgba(#000, 0.5);
    flex: 0 0 170px;

    @media (max-width: 576px) {
        flex: 0 0 150px;
    }
}

.infoValue {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
}

.video {
    max-width: 100%;
    max-height: 600px;
    background-color: var(--color-dark);

    & > iframe {
        max-height: 100%;
        width: 100% !important;
    }

    @media (max-width: 768px) {
        margin-left: calc((var(--container-offset) / -100) * 100) !important;
        margin-right: calc((var(--container-offset) / -100) * 100) !important;
        min-width: calc(100% + calc(var(--container-offset) * 2)) !important;
        max-height: 400px;
    }

    @media (max-width: 576px) {
        max-height: 300px;
    }
}