.choices {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 15px;

	@media (max-width: 576px) {
		margin-bottom: 17px;
	}
}

.choice {
	margin-bottom: 8px;
	&:not(:last-child) {
		margin-right: 8px;
	}
}
