.container {
    padding-top: 15px;

    @media (max-width: 576px) {
        padding-top: 10px;
    }
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        gap: 8px;
    }

    @media (max-width: 420px) {
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.item {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    background-color: #f1f1f1;

    @media (max-width: 576px) {
        padding-bottom: 70%;
    }

    @media (max-width: 420px) {
        padding-bottom: 60%;
    }
}
.title {
	font-size: 26px;
	line-height: 30px;
	font-weight: 700;
    margin-bottom: 40px;

	@media (max-width: 576px) {
		margin-bottom: 25px;
	}

	@media (max-width: 768px) {
		font-size: 24px;
		line-height: 28px;
	}

	@media (max-width: 576px) {
		font-size: 22px;
		line-height: 26px;
	}

	span {
		color: rgba(#000, 0.5);
		font-weight: 400;
	}
}

.btn {
    display: block;
    margin: 40px auto 0;
}