.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: var(--offset);
    color: var(--color-white);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--color-light-dark);
    }
}

.left {
    display: flex;
}

.imageContainer {
    position: relative;
    width: 32px;
    height: 48px;
    flex-shrink: 0;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    margin-right: var(--offset);
    background-color: var(--color-dark);
}

.title {
    margin: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    color: var(--color-white);
    transition: color 0.3s;
}

.text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--color-dark);
}

.info {
    display: block;
    color: var(--color-white);
}

.desc {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(#000, 0.5);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.right {
    display: flex;
    align-items: center;
    padding-left: 90px;
}

.rating {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    padding-top: 2px;
    margin-left: 5px;
}