.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 30px;
	row-gap: 50px;
	margin-bottom: 50px;
	width: 100%;

	@media (max-width: 1200px) {
		column-gap: var(--container-offset);
	}

	@media (max-width: 1024px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 35px;
	}
}
