.section {
    padding-top: 60px;

    @media (max-width: 576px) {
        padding-top: 40px;
    }
}

.desc {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
}

.title {
    margin-bottom: 35px;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
}