.container {
	width: 100%;
}

.inputs {
	display: flex;
	align-items: flex-end;
	margin-bottom: 25px;
}

.input {
	width: 100%;

	input {
		width: 100%;
	}

	&:not(:last-child) {
		margin-right: 10px;
	}
}
