html {
	box-sizing: border-box;
	height: 100%;
	font-family: var(--font-family, sans-serif);
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	min-width: 360px;
	min-height: 100%;
	font-weight: 300;
	font-size: 16px;
	color: var(--color-light-dark);
	overflow-anchor: none;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.container {
	margin: 0 auto;
	padding-left: var(--container-offset);
	padding-right: var(--container-offset);
	max-width: var(--container-width);
}

#__next {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.wrapper {
	padding: 40px;
	background-color: var(--color-white);
	height: 100%;

	@media (max-width: 768px) {
		padding: 35px 15px;
	}
}

::selection {
	color: var(--color-white);
	background-color: var(--color-primary);
}

#nprogress {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	overflow: hidden;

	@media (max-width: 576px) {
		height: 4px;
	}

	div.bar {
		height: inherit;
		background-color: var(--color-primary);

		.peg {
			display: none;
		}
	}
}

.swiper-button-disabled.swiper-button-lock {
	display: none;
}

.lg-on {
	overflow: hidden;
}
