.container {
    position: relative;
    z-index: 10001;
    width: 20%;
    height: 100%;
    background-color: #333;
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    @media (max-width: 1024px) {
        width: 100%;
        min-height: 400px;
    }
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px 25px;
    padding: 0 10px 15px;
    border-bottom: 1px solid rgba(#fff, 0.1);

    @media (max-width: 576px) {
        margin-bottom: 15px;
    }
}

.copyLink {
    padding: 8px;
    font-size: 14px;
    line-height: 14px;

    @media (max-width: 576px) {
        font-size: 13px;
        line-height: 13px;
    }
}

.refresh {
    padding: 7px;
    
    &:hover {
        svg {
            transform: none;
        }
    }

    svg {
        margin-left: 0;
    }
}

.form {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(#fff, 0.1);
    margin: 0 -10px;
    padding: 12px 10px 0;
}

.input {
    width: 100%;
}

.noMessages {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--color-white);
    text-align: center;

    @media (max-width: 576px) {
        font-size: 14px;
        line-height: 17px;
    }
}