.content {
    display: flex;
    height: calc(var(--vh, 1vh) * 100);

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.left {
    width: 100%;
    max-width: 80%;
    height: calc(100% - 71px);

    @media (max-width: 1024px) {
        max-width: 100%;
        height: auto;
    }
}

.video {
    width: 100%;
    height: 100%;
    background-color: var(--color-light-dark);

    & > div {
        height: 100%;
    }
}