.catalog {
    height: 100%;

    &__container {
        padding: 25px 40px 60px;

        @media (max-width: 768px) {
            padding: 20px 15px 50px;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;

        @media (max-width: 576px) {
            margin-bottom: 10px;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 8px;
        }
    }

    &__desc {
        margin: 0;
        margin-bottom: 49px;
        font-size: 16px;
        line-height: 28px;
        max-width: 800px;

        @media (max-width: 576px) {
            margin-bottom: 25px;
            font-size: 15px;
            line-height: 26px;
        }
    }

    &__body {
        display: grid;
        column-gap: 60px;
        grid-template-columns: 240px auto;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(#000, 0.1);
        
        @media (max-width: 576px) {
            margin-bottom: 20px;
        }

        &__link {
            display: inline-block;
            font-weight: 500;
            font-weight: 18px;
            line-height: 23px;
            color: rgba(#000, 0.5);
            transition: color 0.3s;

            &:nth-child(2) {
                margin-left: auto;

                @media (max-width: 576px) {
                    margin-left: 0;
                }
            }

            @media (max-width: 576px) {
                font-size: 14px;
                line-height: 18px;
            }

            &:hover {
                color: #000;
            }

            &:not(:last-child) {
                margin-right: 20px;

                @media (max-width: 576px) {
                    margin-right: 0;
                }
            }
        }
    }

    &__filters {
        @media (max-width: 1024px) {
            margin-bottom: 50px;
        }
        
        @media (max-width: 576px) {
            margin-bottom: 40px;
        }
    }

    &__grid {
        margin-bottom: 50px;

        @media (max-width: 1024px) {
            display: grid;
            row-gap: 30px;
        }

        @media (max-width: 576px) {
            row-gap: 25px;
        }
    }
}