.g-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--color-white);
    font-weight: 500;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--color-primary);
    transition: color 0.3s ease, background-color 0.3s ease;

    &--stroke {
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        background-color: transparent;
    
        &:hover {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }

    svg {
        width: 16px;
        height: 16px;
        margin-left: 10px;
        transition: transform 0.3s;

        @media (max-width: 576px) {
            margin-left: 6px;
        }
    }

    @media (max-width: 576px) {
        padding: 8px 9px;
        font-size: 13px;
        line-height: 13px;
    }

    &:hover {
        background-color: var(--color-dark-primary);

        svg {
            transform: translateX(2px);
        }
    }
}