.g-back {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: var(--color-light-dark);
    margin-bottom: 30px;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
    
    svg {
        display: block;
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }
}