.g-section__container {
    padding-bottom: 120px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media (max-width: 576px) {
        padding-bottom: 60px;
    }
}

.g-section__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
}

.g-section__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    row-gap: 50px;
    margin-bottom: 50px;
    width: 100%;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    @media (max-width: 768px) {
        column-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 35px;
    }
}

.g-section__btn {
    margin: 0 auto;
    min-width: 200px;

    @media (max-width: 576px) {
        padding: 10px 0;
        min-width: 150px;
        font-size: 14px;
        line-height: 14px;
    }
}