.noUi-horizontal {
    height: 4px;
}

.noUi-base {
    width: calc(100% - 16px);
}

.noUi-connects {
    width: calc(100% + 16px);
}

.noUi-target {
    border: none;
    box-shadow: none;
    background-color: rgba(#000, 0.2);
}

.noUi-connect {
    background-color: var(--color-primary);
}

.noUi-horizontal .noUi-handle {
    top: -6px;
    width: 17px;
    height: 17px;
}

.noUi-handle {
    border: none;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid rgba(#000, 0.1);
    transition: border 0.3s;
    cursor: pointer;

    &:hover {
        border: 1px solid rgba(#000, 0.2);
    }
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-horizontal .noUi-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(100% + 10px);
    bottom: 0;
    height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(#000, 0.1);
    min-width: 30px;
    padding: 0 5px;

    @media (max-width: 576px) {
        top: calc(100% + 8px);
    }
}