.logo {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 119px;
    height: 24px;
    flex-shrink: 0;
    
    @media (max-width: 768px) {
        width: 89px;
        height: 18px;
    }
}