.form {
    position: relative;
    height: 40px;

    @media (max-width: 768px) {
        width: 100%;
        height: 60px;
    }

    .search {
        border-radius: 5px;
        font-weight: 300;
        width: 400px;
        height: 100%;
        background-color: #333;
        color: var(--color-white);
        border: none;
    
        @media (max-width: 768px) {
            width: 100%;
            border-radius: 0;
            color: var(--color-white);
            font-size: 15px;
            line-height: 15px;
            background-color: var(--color-light-dark);
            padding-left: var(--container-offset);
            padding-right: 45px;
        }
        
        &::placeholder {
            color: rgba(#fff, 0.5);
        }
    }
}

.searchBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    top: 50%;
    right: -42px;
    transform: translateY(-50%);
    color: var(--color-white);

    @media (max-width: 768px) {
        right: 5px;
        fill: #000;
    }

    svg {
        width: 17px;
        height: 17px;
        stroke: currentColor;
    }
}