.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
}

.btns {
    display: flex;
    align-items: center;
}