.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
}

.btns {
    display: flex;
    align-items: center;
}

.title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;

    span {
        color: rgba(#000, 0.5);
        font-weight: 400;
    }
}