.header {
    background-color: var(--color-dark);

    @media (max-width: 1024px) {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
    }
}

.btn {
    color: var(--color-white);
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 0;
    line-height: 0;
    width: 25px;
    flex-shrink: 0;
    height: 25px;

    &:hover {
        svg {
            transform: none;
        }
    }

    svg {
        width: 100%;
        height: 100%;
        margin-right: 0;
    }
}

.container {
    display: flex;
    align-items: center;
    padding: 19px 10px;
    overflow: hidden;
}

.logo {
    margin-right: 20px;
}

.title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    color: var(--color-white);
}