.footer {
	background-color: var(--color-dark);

	@media (max-width: 768px) {
		background-color: var(--color-light-dark);
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;

	@media (max-width: 576px) {
		flex-direction: column;
	}
}

.list {
	display: flex;
	align-items: center;

	@media (max-width: 576px) {
		margin: 40px 0;
	}
}

.item {
	&:not(:last-child) {
		margin-right: 20px;
	}
}

.link {
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: var(--color-white);

	&:before {
		content: '';
		position: absolute;
		bottom: -8px;
		left: 0;
		width: 100%;
		height: 2.5px;
		border-radius: 5px;
		background-color: var(--color-primary);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
	}

	&:hover {
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.copy {
	font-size: 14px;
	line-height: 14px;
	color: rgba(#fff, 0.5);
}
