.container {
    position: relative;
    padding-top: 80px;

    @media (max-width: 576px) {
        padding-top: 50px;
    }
}

.title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}