.form {
    position: relative;

    @media (max-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: opacity 0.3s;

        &.visible {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.search {
    width: 400px;

    @media (max-width: 1280px) {
        width: 370px;
    }

    @media (max-width: 768px) {
        width: 100%;
        height: inherit;
    }

    input {
        height: 40px;
        padding-right: 40px;

        @media (max-width: 768px) {
            height: inherit;
            border-radius: 0;
            color: var(--color-white);
            padding-left: 40px;
            font-size: 16px;
            line-height: 16px;
            background-color: var(--color-light-dark);
        }
    }
}

.searchBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    top: 50%;
    right: -42px;
    transform: translateY(-50%);
    color: var(--color-white);

    @media (max-width: 768px) {
        display: none;
    }

    svg {
        width: 17px;
        height: 17px;
        stroke: currentColor;
    }
}

.closeBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: 768px) {
        right: 10px;
    }

    svg {
        width: 17px;
        height: 17px;
        stroke: currentColor;
    }
}

.hideSearch {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: -9px;

    @media (min-width: 769px) {
        display: none;
    }

    svg {
        width: 22px;
        height: 22px;
        stroke: #fff;
    }
}

.openSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: -8px;
    flex-shrink: 0;
    order: 1;

    @media (min-width: 769px) {
        display: none;
    }

    svg {
        width: 16px;
        height: 16px;
        stroke: var(--color-white);
    }
}