.wrapper {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 15px;
}

.more {
    color: #fff;
    padding: 12px 15px;
    text-align: left;
    display: block;
    background-color: var(--color-light-dark);
    transition: background-color 0.3s;
    font-size: 13px;
    line-height: 16px;

    &:hover {
        background-color: var(--color-dark);
    }
}

.desc {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    padding: 40px 15px;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}