.thumb {
	height: 17px;
	width: 17px;
	border-radius: 100%;
	background-color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 2px rgba(#000, 0.3);
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: 0 1px 3px rgba(#000, 0.5);
	}
}
