.section {
    background-color: #f4f4f4;
}

.content {
    display: flex;
    margin-bottom: 50px;

    @media (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 30px;
    }
}

.container {
    padding-bottom: 100px;

    @media (max-width: 768px) {
        padding-bottom: 70px;
    }

    @media (max-width: 576px) {
        padding-bottom: 50px;
    }
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
}

.left {
    position: relative;
    flex-shrink: 0;
    margin-right: 50px;
    width: fit-content;

    @media (max-width: 1024px) {
        margin-right: 40px;
    }

    @media (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    @media (max-width: 576px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.right {
    width: 100%;
}

.image {
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 2 / 3;
    background-color: var(--color-dark);

    @media (max-width: 576px) {
        width: 250px;
    }
}

.title {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    max-width: 650px;
    margin-bottom: 20px;

    @media (max-width: 576px) {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 15px;
    }
}

.originalTitle {
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: rgba(#000, 0.5);
    margin-bottom: 25px;
}

.btns {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    @media (max-width: 576px) {
        margin-bottom: 25px;
    }
}

.btn {
    &:not(:last-child) {
        margin-right: 15px;

        @media (max-width: 576px) {
            margin-right: 10px;
        }
    }
}

.subtitle {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;

    @media (max-width: 576px) {
        font-size: 20px;
        line-height: 30px;
    }
}

.age {
    display: inline-block;
    padding: 1px 3px 0;
    border-radius: 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
    border: 1px solid #ccc;
    color: rgba(#000, 0.4);
}

.desc {
    margin: 0;
    font-size: 15px;
    line-height: 23px;
    color: rgba(#000, 0.5);
}