.dropdown {
	position: absolute;
	top: 0;
	left: -25px;
	opacity: 0;
	visibility: hidden;
	width: 240px;
	padding: 85px 25px 30px;
	border-radius: 0 0 10px 10px;
	background-color: var(--color-light-dark);
	box-shadow: 0 54px 40px rgb(0 0 0 / 12%), 0 19.2px 51.2px rgb(0 0 0 / 16%),
		0 80px 89.6px rgb(0 0 0 / 24%);
	transition: opacity 0.3s, visibility 0.3s;

	&Open {
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: 768px) {
		display: none;
	}
}

.item {
	&:not(:last-child) {
		margin-bottom: 22px;
	}
}

.link {
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 15px;
	line-height: 15px;
	font-weight: 400;
	color: var(--color-white);
	opacity: 0.8;
	transition: opacity 0.3s;
	outline: none;

	&:before {
		content: '';
		position: absolute;
		display: none;
		bottom: -8px;
		left: 0;
		width: 16px;
		height: 2.5px;
		border-radius: 5px;
		outline: none;
		background-color: var(--color-primary);
	}

	&Active {
		opacity: 1;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;

		&:before {
			display: block;
		}
	}

	&:hover {
		opacity: 1;
	}

	&:focus-visible {
		opacity: 1;
	}

	svg {
		position: relative;
		width: 16px;
		height: 20px;
		margin-right: 15px;
	}
}
