.section {
    height: 100%;
}

.wrapper {
    padding: 50px 30px;

    @media (max-width: 576px) {
        padding: 40px 15px;
    }
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
    }

    @media (max-width: 576px) {
        margin-bottom: 20px;
    }
}

.title {
    font-weight: 800;

    @media (max-width: 768px) {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px;
    }
}

.nav {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    height: 50px;
    max-width: 100%;
    
    @media (max-width: 768px) {
        margin-left: calc((var(--container-offset) / -100) * 100) !important;
        margin-right: calc((var(--container-offset) / -100) * 100) !important;
        min-width: calc(100% + calc(var(--container-offset) * 2)) !important;
        padding: 0 var(--container-offset);
    }

    &Item {
        &:not(:last-child) {
            margin-right: 5px;

            @media (max-width: 768px) {
                margin-right: 0;
            }
        }
    }

    &Link {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(#000, 0.5);
        padding: 9px 16px;
        border-radius: 20px;

        &Active {
            color: var(--color-dark);
            background-color: #f2f2f2;
        }
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.caption {
    display: inline-block;
    text-transform: uppercase;
    color: #aaa;
    font-size: 12px;
    letter-spacing: 0.1px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}