.form {
	max-width: 390px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 100px 15px;

	@media (max-width: 576px) {
		padding: 70px 15px;
	}
}

.title {
	font-size: 28px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 30px;
}

.inputs {
	display: flex;
	margin-bottom: 25px;

	.input {
		width: auto;
		margin-bottom: 0;

		&:not(:last-child) {
			margin-right: 20px;

			@media (max-width: 576px) {
				margin-right: 15px;
			}
		}
	}
}

.input {
	margin-bottom: 25px;

	input {
		width: 100%;
	}
}

.caption {
	text-align: center;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.5px;
}

.btn {
	margin-top: 5px;
	margin-bottom: 25px;

	@media (max-width: 576px) {
		padding: 13px 15px;
		font-size: 16px;
		line-height: 16px;
	}
}

.link {
	font-size: 14px;
	line-height: 14px;

	a {
		color: var(--color-dark);
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			color: var(--color-primary);
		}
	}
}
